//todo could be imported into a page component
//

#page {
   h1,
   h2,
   h3,
   h4,
   h5,
   h6 {
      font-family: 'Abel', sans-serif;
      font-weight: 400;
   }

   p,
   span,
   div {
      font-family: 'Raleway', sans-serif;
      // turn on the stylistic alternates. In general they are straighter forms. 
      // This provides more contrast with Abel. 
      font-feature-settings: "salt"on;
   }
}