@import "variables";
@import "remedy.scss";
@import "fonts.scss";
@import "typography.scss";

@import "book.scss";

main {
   width: 35rem;
   max-width: calc(100% - 4vw);
   margin: 0 auto;
}


:root{}


// .icon {
//    height: 3rem;
//    width: auto;
// }

svg {
   height: 100%;
   width: auto;
}