html {
   // set the base app shell font family
   font-family: 'Roboto', sans-serif;
   font-weight: 400;

   // optimize
   text-rendering: optimizeLegibility;
   font-synthesis: none;

   // set a base fontsize, the rest of the app uses rem.
   font-size: 12px;

   // base size will vary from 12 to 20 depending on the screen width.
   @media (min-width: 320px) {
      font-size: calc(12px + (20 - 12) * ((100vw - 320px) / (1200 - 320)));
   }

   @media (min-width: 1200px) {
      font-size: 20px;
   }


}

// base typography hiearchy and styles

// do we do all the fonts/styles here? or is the app shell stuff separate? 
// define the base app shell styles, then they can be overwritten at lower levels? 
// 

